{% extends 'base.html.twig' %}

{% block title %}Hello WorkshopController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

		<div class="col-lg-4">
				<div class="">

					<div class="">
						<img src="http://lorempixel.com/800/600/people/{{ workshop.title }}" class="img-fluid" />
						<h3>{{workshop.title | capitalize }}</h3>
						<p>{{workshop.description}}</p>
					</div>

					<div class="">
						<span>
							<ul>
								<li>{{workshop.duration}}</li>
							</ul>
						</span>
					</div>
				</div>
			</a>
		</div>
</div>

{% endblock %}
